body {
background-color:blanchedalmond;
}
#title-img {
  width: 30px;
  margin-right: 10px;
  margin-bottom: -2px;
}
h1 {
  text-align: center;
  margin-top: 50px;
}
#edit-del-btn {
  float: right;
  width: 18px;
  margin-right: 20px;
}
#edit-del-btn:hover{
  cursor: pointer;
}
li {
  margin-right: 100px;
  margin-left: 100px;
  list-style: none;
  background-color:rgba(229, 51, 16, 0.3);
  border: 1px solid rgba(229, 51, 16, 0.3);
  border-radius: 2px;
  padding-left: 20px;
  /* border-bottom: .5px solid black; */
}
#username {
  margin-bottom: 0;
  font-size: 20px;
}
h5 {
  margin: 0;
}
.create-post {
display: flex;
align-items: center;
justify-content: center;
margin-top: 50px;
}
#img-cat {
  width: 23px;
  margin-bottom: -9px;
  margin-right: 5px;
}
#entry-input {
padding: 20px 26px;
margin-top: 5px;
margin-left: 28px;
}

#user-input {
padding: 5px 40px;
}
#create-submit {
  float: right;
  margin-top: 5px;
  background-color: #282828;
  color: white;
  border: 1px solid #282828;
  border-radius: 2px;
  padding: 2px 12px;
}
ul {
  margin-top: 50px;
}
p {
  font-size: 14px;
  width: 450px;
  margin: 0;
  padding: 40px;
  margin: 0 40px;
}
#like-btn {
padding: 2px 8px;
background-color: #282828;
color: white;
border: 1px solid #282828;
border-radius: 2px;
}
#like-btn:hover {
  background-color: #505050;
  border: 1px solid #505050;
  cursor: pointer;
  outline: #505050;
}
input, textarea {
  outline:white;
}
#date {
  font-size: 10px;
  font-family: helvetica;
  font-weight: 100;
}
